operations:
{{#apiInfo}}{{#apis}}{{#operations}}{{#operation}}
  - operationId: "{{{operationId}}}"
    httpMethod: "{{{httpMethod}}}"
    returnType: "{{{returnType}}}"
    returnBaseType: "{{{returnBaseType}}}"
    summary: "{{{summary}}}"
    baseName: "{{{baseName}}}"
    params:
{{#allParams}}
    - paramName: "{{{paramName}}}"
      description: "{{{description}}}"
      dataType: "{{{dataType}}}"
      required: {{{required}}}
      isBodyParam: {{{isBodyParam}}}
      isPathParam: {{{isPathParam}}}
      isQueryParam: {{{isQueryParam}}}
{{/allParams}}
{{/operation}}{{/operations}}{{/apis}}{{/apiInfo}}

models:
{{#models}}{{#model}} 
  {{{classname}}}: 
    parents: 
{{#parent}}{{^isMapModel}}
      - {{{parent}}}
{{/isMapModel}}
{{/parent}}
    vars:
{{#vars}}
      - name: "{{{name}}}"
        dataType: "{{{dataType}}}"
        required: {{{required}}}
        readOnly: {{{isReadOnly}}}
        nullable: {{{isNullable}}}
        default: {{{defaultValue}}}
{{/vars}}
{{/model}}{{/models}}